# WebStorm
*.iml

# Directory-based project format:
.idea/
.idea/workspace.xml
**/.idea/workspace.xml

# mac hidden files
.DS_Store

#other
#node_modules
#bower_components
#.tmp
#.sass-cache
#builds/**/images/*
