<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guaranteed Investments</title>
</head>
<body>

<h1>Guaranteed Investments</h1>

<form action="/payment" method="POST">
    <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
            data-amount="20000000"
            data-name="Guaranteed Investments"
            data-description="High Returns"
            data-image="/assets/imgs/minion.jpeg">
    </script>
</form>


</body>
</html>