<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  {{if not .Logged}}
  <a href="{{.LoginURL}}">Log In</a>
  {{end}}
  {{range .Tweets}}
  <p>{{.Message}}</p>
  <p>{{.SubmitTime}}</p>
  {{end}}
</body>
</html>
