/*WHOLE DOCUMENT*/

* {
    box-sizing: border-box;
    border: 1px solid red;
}

body {
    font-family: 'Helvetica Neue', Helvetica, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body, main, figure {
    margin: 0;
}

/*HEADER*/

.header-right {
    position: absolute;
    right: 0;

    /*another way you could position to the right*/
    float: right;

    padding-right: 25px;
    font-size: 13px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline-block;
    padding: 0 10px;
}

a {
    text-decoration: none;
    color: #404040;
}

a:hover {
    text-decoration: underline;
}

#circle {
    color: #fff;
    background: rgba(219, 68, 55, .8);
    border-radius: 50%;
    display: inline-block;
    padding: 5px 9px;
}

#circle:hover {
    background: rgba(219, 68, 55, 1)
}

/* MAIN BODY */

main {
    text-align: center;
}

main img {
    width: 269px;
    height: 95px;
}