body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section {
    background-color: #00f;
    border: 5px solid #00f;
    width: 500px;
    border-radius: 24px;
    overflow: auto;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 9px;
}

h1, h2 {
    color: #f5f5f5;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.2em;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: #f5f5f5;
    font-size: 6em;
    font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
}
