<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<form method="post">
    <h3>LOGOUT</h3>

    <input type="submit" name="logout">
</form>


<h1>LOGGED IN?</h1>
{{ . }}

</body>
</html>