/* FULL PAGE */

* {
    box-sizing: border-box;
    /*border: 1px solid red !important;*/
}

body {
    font-family: 'courier new', courier, sans-serif;
    /*font-style: normal;*/
    /*font-variant: normal;*/
    font-weight: 500;
}

h1, h2, h3 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 36px;
    line-height: 1.2em;
    letter-spacing: .2em;
}

h2 {
    font-size: 21px;
    line-height: 1.2em;
    letter-spacing: .05em;
}

h3 {
    font-size: 32px;
    font-weight: 600;
    color: #555;
}

h4 {
    padding-top: 20px;
    padding-bottom: 10px;
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #2ec371;
}

section {
    padding: 30px 0;
    background: #f2f2f2;
}

div {
    text-align: center;
}

.container {
    width: 970px;
    margin: 0 auto;
    padding: 30px 0;
}

/* HEADER */

/* SECTION - banner */

.banner {
    text-align: center;
    padding: 100px 0;
    background: #000 url('../images/hero-bg-dark.jpg') no-repeat center center;
    /* color image repeat position-top position-right */
    background-size: cover;
}

.banner h1 {
    color: white;
    font-weight: 800;
}

.banner span, h2 {
    color: #fefefe;
    font-weight: 100;
}

h1 span {
    font-weight: 100;
    color: #fefefe;
}

/* MAIN */

#todd-image {
    float: left;
    margin: 0 1.5em 1em 0;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

/* SECTION - Working On Now */

.one-half a {
    color: #fefefe;
}

.one-half {
    background-color: #fefefe;
    width: 46%;
    margin: 2%;
    display: inline-block;
}

.btn {
    padding: 10px;
    border-radius: 6px;
    background-color: #428bca;
    border-color: #357ebd;
}

.btn:hover {
    background: #3276b1;
    border-color: #285e8e;
}